
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="https://olindasgs.herokuapp.com/" class="site_title"><i class="fa fa-medkit"></i> <span>SGS</span></a>
      </div>
      <div class="clearfix"></div>


      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home </a>
            </li>
            <li><a><i class="fa fa-stethoscope"></i> Administração <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="https://olindasgs.herokuapp.com/">Médicos</a>
                </li>
                <li><a href="https://olindasgs.herokuapp.com/">Enfermeiros</a>
                </li>
                <li><a href="https://olindasgs.herokuapp.com/">Agentes Comunitários</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Configurações <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <a href="https://olindasgs.herokuapp.com/">Turnos</a>
                </li>
                <li>
                  <a href="https://olindasgs.herokuapp.com/">Faltas justificadas</a>
                </li>
                <li>
                  <a href="https://olindasgs.herokuapp.com/">Feriados</a>
                </li>
                <li>
                  <a href="https://olindasgs.herokuapp.com/">Ferias</a>
                </li>
                <li>
                  <a href="https://olindasgs.herokuapp.com/">Licença prêmio</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-folder"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <a href="/professionals">Profissionais</a>
                </li>
                <li>
                  <a href="/usfs">USFs</a>
                </li>
                <li>
                  <a href="/micro_areas">Micro Áreas</a>
                </li>
                <li>
                  <a href="/professional_types">Tipo de Profissionais</a>
                </li>
                <li>
                  <a href="/specialties">Especialidades</a>
                </li>
                <li>
                  <a href="/cities">Municípios</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">

              </ul>
            </li>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      
    </div>
  </div>
