<div class="col-md-8 center-margin">
                
<%= form_for(@professional_type, html: {class: "form-horizontal form-label-left"}) do |f| %>
  <% if @professional_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional_type.errors.count, "error") %> prohibited this professional_type from being saved:</h2>

      <ul>
      <% @professional_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="first-name">
      Nome
     <span class="required">*</span>
    </label>
    <div>
      <%= f.text_field :name, class: "form-control", required: "required" %>
    </div>
  </div>

  <div class="ln_solid"></div>

  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">
      <button type="button" onClick="history.go(-1)" class="btn btn-primary">Cancelar</button>
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
  </div>

<% end %>

<br>
</div>
<!-- /page content -->


